<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
    <footer class="footer mt-auto py-3 bg-light fixed-bottom border border-1">
        <div class="container">
            <div class="text-center row">
                <div class="col-md-4"><small class="text-muted"> Created by TeamA</small></div>
                <div
                        class="col-md-4"><small><a> About us</a></small></div>
                <div
                        class="col-md-4"><small><a>All rights reserved</a></small></div>
            </div>
        </div>
    </footer>
</th:block>
</body>
</html>
