<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="navigation">
    <nav class="navbar navbar-expand-md bg-light fixed-top border border-1 py-0">
        <div class="container-fluid">
               <a class="navbar-brand" href="/home">Home</a>
            <div id="navbarCollapse" class="collapse navbar-collapse">

                <ul class="navbar-nav mb-2 mb-md-0 justify-content-end">

                    <li class="m-2 navbar-item" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-primary"
                           href="/customLogin" th:text="#{navbar.login}"></a>
                    </li>
                    <li class="m-2 navbar-item" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-secondary"
                           href="/registration" th:text="#{navbar.register}"></a>
                    </li>
                    <li class="m-2 navbar-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-primary" th:text="#{navbar.logout}"></button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>
