<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="navigation">
    <nav class="navbar navbar-expand-md bg-white fixed-top border border-1 py-0">
        <div class="container-fluid d-flex justify-content-center align-items-center" >
            <a class="navbar-brand " href="/home">Home</a>

            <!-- Categories Dropdown -->
            <div class="dropdown" style="margin-right: 80px">
                <a class="nav-link" role="button" id="categoriesDropdown" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
                    <!-- Add your category links here -->
                    <li><a class="dropdown-item" href="#" onclick="filterCourses('All')">All</a></li>
                    <li><a class="dropdown-item" href="#" onclick="filterCourses('Web-Development')">Web-Development</a></li>
                    <li><a class="dropdown-item" href="#" onclick="filterCourses('Business')">Business</a></li>
                    <li><a class="dropdown-item" href="#" onclick="filterCourses('Marketing')">Marketing</a></li>
                    <li><a class="dropdown-item" href="#" onclick="filterCourses('Lifestyle')">Lifestyle</a></li>
                    <li><a class="dropdown-item" href="#" onclick="filterCourses('Photography & Video')">Photography &  Video</a></li>
                    <li><a class="dropdown-item" href="#" onclick="filterCourses('Science')">Science</a></li>
                    <li><a class="dropdown-item" href="#" onclick="filterCourses('Mathematics')">Mathematics</a></li>
                    <li><a class="dropdown-item" href="#" onclick="filterCourses('Language')">Language</a></li>
                    <li><a class="dropdown-item" href="#" onclick="filterCourses('Sports')">Sports</a></li>
                    <li><a class="dropdown-item" href="#" onclick="filterCourses('History')">History</a></li>
                    <li><a class="dropdown-item" href="#" onclick="filterCourses('Cooking')">Cooking</a></li>

                </ul>
            </div>
            <!-- Search Bar -->
            <form class="d-flex mx-auto" style="position: relative" th:action="@{/search}" method="get">
                <input class="form-control me-2" type="search" name="keyword" placeholder="Search..."
                       aria-label="Search" style="width: 300px; padding-right: 3rem; border-radius: 20px; border-color: #090000">
                <button class="btn btn-primary" type="submit"
                        style="background-color:#090000; position: absolute; right: 0; top: 0; height: 100%; padding: 0.5rem 1rem; border-radius:48%; border-color: #090000">
                    <i class="ri-search-line"></i>
                </button>
            </form>



            <!-- Wishlist and Cart Icons -->
            <a class="nav-link" ><i class="ri-heart-3-fill" style="margin-left: 40px;margin-right: 40px"></i></a>
            <a class="nav-link" ><i class="ri-shopping-cart-2-line" style="margin-right: 40px"></i></a>
            <!-- Profile Link -->


            <div id="navbarCollapse" class="collapse navbar-collapse d-flex justify-content-end">

                <ul class="navbar-nav mb-2 mb-md-0 d-flex flex-row justify-content-end">

                    <li class="m-2 navbar-item " sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-primary"
                           href="/customLogin" th:text="#{navbar.login}"></a>
                    </li>
                    <li class="m-2 navbar-item " sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-secondary"
                           href="/register" th:text="#{navbar.register}"></a>
                    </li>
                    <li class="m-2 navbar-item " sec:authorize="isAuthenticated()">
                        <a class="btn btn-outline-secondary"
                           href="/Application" th:text="#{navbar.application}"></a>
                    </li>
                    <li class="m-2 navbar-item " sec:authorize="isAuthenticated()">
                        <a class="btn btn-outline-secondary"
                           href="/pay" th:text="#{navbar.pay}"></a>
                    </li>

                    <li class="m-2 navbar-item " sec:authorize="isAuthenticated() and hasRole('ADMIN')">
                        <a class="btn btn-outline-secondary"
                           href="/newInstructors" th:text="#{navbar.approve}"></a>
                    </li>

                </ul>
            </div>
            <div class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="position:relative; margin-right: 30px">
                    <i class="ri-user-2-fill" style="margin-left: 80px;"></i> Profile
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="position: absolute; right: 0; left: auto; margin-top:0;">
                    <li><a class="dropdown-item" href="/editProfile" >Edit Profile</a></li>
                    <li><a class="dropdown-item" href="/myCourses" >My Courses</a></li>
                    <li><a class="dropdown-item" href="/uploadCourse" th:text="#{navbar.uploadCourse}">Upload Course</a></li>
                    <li><form th:action="@{/logout}" method="post"><button class="dropdown-item" type="submit" th:text="#{navbar.logout}">Logout</button></form></li>
                    <li><a class="dropdown-item" href="/deleteAccount" >Delete Account</a></li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
<script type="text/javascript">

    // JavaScript function for searching courses
    function searchCourses() {
        console.log("Search button clicked");
        var searchInput = document.getElementById('searchInput').value;
        window.location.href = '/search?keyword=' + searchInput;
    }

    // Event listener for search button click
    document.getElementById('searchButton').addEventListener('click', function(event) {
        event.preventDefault();
        searchCourses();
    });
</script>

</body>
</html>
