
body {
    background-color: lightgray;
}

.textinputsmall {
    width: 50%;
    padding: 10px 15px;
    margin: 5px 5px;
    align: center;
    display: inline-block;
    border: 3px;
    box-sizing: border-box;
    font-size: 20px;
}

.textinput {
    width: 100%;
    height: 500px;
    padding: 10px 15px;
    margin: 5px 5px;
    align: center;
    border: 3px;
    box-sizing: border-box;
}

.fileupload {
    width: 50%;
    padding: 10px 15px;
    margin: 5px 5px;
    align: center;
    display: inline-block;
    border: 3px;
    box-sizing: border-box;
}

.errorMessage {
    width: 100%;
    height: 30px;
    color: red;
}

.formLabel {
    padding: 20px 15px;
    margin: 10px 10px;
    border: 3px;
    font-size: 20px;
}
.submitButton {
    background-color: green;
    height: 40px;
    width: 200px;
    font-size: 24px;
}
.headerSpace {
    height: 100px;
}

.footerSpace {
    height: 150px;
}
